[Unit]
Description=DMNSN production web api
StartLimitIntervalSec=500
StartLimitBurst=5

[Service]
ExecStart=/bin/bash ~/bitsy/bitsy-py/sysadmin/uvicorn.prod.bash
Restart=always
User=root
Group=root
RestartSec=5s
Type=simple
EnvironmentFile=~/bitsy/bitsy-py/.env

[Install]
WantedBy=multi-user.target
