[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
httpx = "*"
web3 = "*"
pyyaml = "*"
blake3 = "*"
fastapi = "*"
cryptography = "*"
strawberry-graphql = "*"
uvicorn = "*"
python-dotenv = "*"
hvac = "*"
eth-tester = "*"
loguru = "*"
psycopg2 = "*"
python-slugify = "*"
pyjwt = "*"
# sha3 = "*"
coincurve = "*"
pysha3 = "*"

[dev-packages]
black = "*"
pylint = "*"
mypy = "*"
pytest = "*"
pytest-asyncio = "*"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
